@model UpToSellModel

<section class="up-to-sell">
    <div class="container">
        <div class="collection-grid">

            @if (Model.UpToSellProduct1 != null)
            {
                <div class="item-1">
                    @foreach (var product in Model.UpToSellProduct1)
                    {
                        <partial name="/Views/Partials/_ProductCard.cshtml" model="product" />
                    }
                </div>
            }


            <div class="discover">
                <!-- collection-content start -->
                <div class="collection-content">
                    <div class="container">
                        <div class="title-red">@Model.TitleRed</div>
                        <div class="title">@Model.Title</div>
                        <div class="ingress">@Model.Ingress</div>
                        <div class="text">@Model.Text</div>
                        <a href="#" class="link">@Model.LinkText</a>
                    </div>
                </div>
                <!-- collection-content end -->
            </div>


            @if (Model.UpToSellProduct2 != null)
            {
                <div class="item-2">
                    @foreach (var product in Model.UpToSellProduct2)
                    {
                        <partial name="/Views/Partials/_ProductCard.cshtml" model="product" />
                    }
                </div>
            }

        </div>
    </div>
</section>
