@{
    var users = await userService.GetAllUserProfileAsync();
}

<section class="admin">
    <div class="container">
        <div class="detailed-buttons">
            <a class="detailed-link" href="#">USERS</a>
        </div>
    </div>
</section>

<section class="admin-users">
    <div class="container">
        <h1 class="title">ALL USERS</h1>
        <div class="user-card-grid">
            @if (users != null)
            {
                foreach (var user in users)
                {
                    <div class="user-card">
                        <div class="subtitle-name">PROFILE:</div>
                        <div class="firstname">NAME: @user.FirstName</div>
                        <div class="lastname">@user.LastName</div>
                        <div>E-MAIL: @user.UserName</div>
                        <div>TEL: @user.PhoneNumber</div>
                        <div class="subtitle-address">ADDRESS</div>
                        <div class="street-name">@user.StreetName</div>
                        <div class="postal-code">@user.PostalCode</div>
                        <div class="city">@user.City</div>
                        <select class="role">
                            <option></option>
                            <option>ADMIN</option>
                            <option>USER</option>
                        </select>
                    </div>
                }
            }
        </div>
    </div>
</section>
