@{
    var users = await userService.GetAllUserProfileAsync();
}

<section class="admin">
    <div class="container">
        <div class="detailed-buttons">
            <a class="detailed-link" href="#">USERS</a>
        </div>
    </div>
</section>

<section class="admin-users">
    <div class="container">
        <h1 class="title mb-5">ALL USERS</h1>
        <a class="btn-outline-white" asp-controller="Register" asp-action="Index">CREATE NEW USER</a>
        <div class="user-card-grid mt-4">
            @if (users != null)
            {
                foreach (var user in users)
                {

                    
                    <div class="user-card">
                        <div class="subtitle-name">PROFILE:</div>
                        <div class="firstname">NAME: @user.FirstName</div>
                        <div class="lastname">@user.LastName</div>
                        <div>E-MAIL: @user.UserName</div>
                        <div>TEL: @user.PhoneNumber</div>
                        <div class="subtitle-address">ADDRESS</div>
                        <div class="street-name">@user.StreetName</div>
                        <div class="postal-code">@user.PostalCode</div>
                        <div class="city">@user.City</div>
                        <ul class="role">
                            @{
                                foreach(var role in user.Roles)
                                {
                                    <li>SYSTEM ROLE: @role</li>
                                }
                            }
                        </ul>

                        @{
                            if(!user.Roles.Contains("admin"))
                            {
                                <form method="post">
                                    <button asp-action="Index" asp-controller="Admin" asp-route-itemid="@user.UserId" type="submit" class="btn-outline-white">Make Admin</button>
                                </form>
                            }

                        }


                    </div>
                }
            }
        </div>
    </div>
</section>
